@import url("https://fonts.googleapis.com/css?family=Open+Sans");
/************  shared classes  ************/
body, input {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px; }

a {
  text-decoration: none;
  color: #007AC4; }

.center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }

.vertically-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

#screen {
  width: 300px;
  height: 540px;
  border: 1px solid #616161;
  background-color: #ACC0FD; }

#logo img {
  width: 300px; }

.blue-button {
  background: -webkit-linear-gradient(#2683CC, #3A9BCF);
  background: -moz-linear-gradient(#2683CC, #3A9BCF);
  background: -o-linear-gradient(#2683CC, #3A9BCF);
  background: linear-gradient(#2683CC, #3A9BCF);
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 32px;
  margin: 10px 0;
  text-align: center;
  color: #FFFFFF; }

.input-field {
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  width: 250px;
  height: 34px;
  border: none;
  outline: none;
  margin: 10px 0;
  text-align: center; }

.banner, .logo-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  font-size: 26px;
  text-align: center;
  /* text-decoration: underline; */
  background-color: #007AC4;
  color: #FFFFFF; }
  
.bottom-bar {
  width: 100%;
  height: 40px;
  background-color: #FFFFFF;
  color: #FFFFFF;
  flex-direction: column;
  justify-content: Right;
  align-items: Right;
  display: flex;
}

.small-button {
  background: -webkit-linear-gradient(#2683CC, #3A9BCF);
  background: -moz-linear-gradient(#2683CC, #3A9BCF);
  background: -o-linear-gradient(#2683CC, #3A9BCF);
  background: linear-gradient(#2683CC, #3A9BCF);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 26px;
  margin: 10px 0;
  text-align: center;
  color: #FFFFFF;
}

.logo-banner {
  background-color: #FFFFFF; }
  .logo-banner img {
    width: 150px; }

.menu-option {
  background: -webkit-linear-gradient(150deg, #0277DC, #005DC3 25%, #025FD0 45%, #1F92F0);
  background: -moz-linear-gradient(150deg, #0277DC, #005DC3 25%, #025FD0 45%, #1F92F0);
  background: -o-linear-gradient(150deg, #0277DC, #005DC3 25%, #025FD0 45%, #1F92F0);
  background: linear-gradient(150deg, #0277DC, #005DC3 25%, #025FD0 45%, #1F92F0);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 120px;
  margin-top: 20px;
  color: #FFFFFF; }

.margin-top-10 {
  margin-top: 10px; }

.margin-top-30 {
  margin-top: 30px; }

.margin-top-50 {
  margin-top: 50px; }

/************  landing screen  ************/
.buttons {
  position: relative;
  top: 40%;
  transform: translateY(-40%); }

/*# sourceMappingURL=main.css.map */
